@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Frank+Ruhl+Libre:wght@300;900&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Babylonica', cursive;
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Roboto', sans-serif;

}

@layer components {
  .author {
    font-family: 'Babylonica', serif;
  }
  .book {
    font-family: 'Frank Ruhl Libre', serif;
  }
  /* ... */
}